<div data-ng-controller="listController">
    
    <div class="container-fluid">

            <accordion close-others="oneAtATime">

                <accordion-group ng-repeat="doctor in doctors">
                    <accordion-heading>
                        {{doctor.Name}} {{doctor.Surname}}
                         <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    <div class="row">
                        <div class="col-xs-5">
                            Miasto: {{doctor.City}}
                        </div>
                        <div class="col-xs-5">
                            Specjalizacja: {{doctor.Specialization}}
                        </div>
                        <div class="col-xs-1">
                            <a href="/#details/{{doctor.id}}" class="btn btn-info">...</a>

                        </div>
                    </div>
                </accordion-group>

            </accordion>


    </div>
    <a href="/#details">Show list</a>
</div>

<style>
    .row > div{
        height:50px;
    }
</style>