<div data-ng-controller="listController">
    
    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-12 center">
                <form class="form-inline">
                    <input ng-model="query" type="text"
                           placeholder="Filter by" autofocus>
                </form>
            </div>
        </div>

            <accordion close-others="oneAtATime">

                <accordion-group ng-repeat="doctor in doctors  | filter:query">
                    <accordion-heading>
                        {{doctor.Name}} {{doctor.Surname}}
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    <div class="row">
                        <div class="col-xs-5">
                            Miasto: {{doctor.City}}
                        </div>
                        <div class="col-xs-5">
                            Specjalizacja: {{doctor.Specialization}}
                        </div>
                        <div class="col-xs-1">
                            <a href="/#details/{{doctor.id}}" class="btn btn-info">...</a>

                        </div>
                    </div>
                </accordion-group>

            </accordion>


    </div>
    <a href="/#details">Show list</a>
</div>

<style>
    .row > div{
        height:50px;
    }

    .row.ng-scope{
        text-align:center;
    }

    .panel-heading{
        text-align:center;
    }

    .center{
        text-align:center;
    }
</style>