
<div ng-app="helloApp">
    <script>
        var app = angular.module("helloApp", []);
        app.controller("HelloWorld", function ($scope, $http) {
            $scope.hello = [];
            $scope.addString = function () {
                $scope.hello.push($scope.word);
                $scope.word = "";
            };

            $scope.getDoctors = function () {
                //$.ajax({
                //    method: "GET",
                //    url: "http://localhost:7822/doctors/1",
                //    success: function (element) {
                //        $scope.zmienna = "jakis napis";
                //        console.log(element);
                //    }
                //});
                $http.get("http://localhost:7822/doctors/1").success(function (data) {
                    $scope.zmienna = data;
                });
                
            };            
        });
    </script>

    <div ng-controller="HelloWorld">
        <input type="text" ng-model="hello">
            {{ hello }} 

        <ul>
            <li ng-repeat="h in hello">{{ h }}</li>
        </ul>

        <form ng-submit="addString()">
            <input type="text" ng-model="word">
            <input type="submit" value="dodaj">
        </form>

        <button ng-click="getDoctors()">kliknij tu</button>
        {{ zmienna }}

    </div>

</div>

<script>
    $(document).ready(function () {
        //$.ajax({
        //    method: "POST",
        //    data: {Name: "adam", Surname: "monroe"},
        //    url: "http://localhost:7822/doctors/1/opinion",
        //    success: function () {
        //        alert("Udało się ");
        //    }
        //});

        //$.ajax({
        //    method: "GET",
        //    url: "http://localhost:7822/doctors/1",
        //    success: function (element) {
        //        console.log(element);
        //    }
        //});
    });
</script>