
@*<div ng-app="SPAApp">

    <script>
        var app = angular.module("SPAApp", []);
        app.controller("MainController", function ($scope, $http) {
            $scope.hello = [];
            $scope.addString = function () {
                $scope.hello.push($scope.word);
                $scope.word = "";
            };

            //$scope.getDoctors = function () {
            //    $http.get("http://localhost:7822/doctors").success(function (data) {
            //        $scope.zmienna = data;
            //    });
            //};

            $http.get("http://localhost:7822/doctors").success(function (data) {
                $scope.zmienna = data;
            });
        });
    </script>


    <div ng-controller="MainController">
        <!--<input type="text" ng-model="hello">
        {{ hello }}

        <ul>
            <li ng-repeat="h in hello">{{ h }}</li>
        </ul>

        <form ng-submit="addString()">
            <input type="text" ng-model="word">
            <input type="submit" value="dodaj">
        </form>-->

        <!--<button ng-click="getDoctors()">kliknij tu</button>-->
        

        <ul ng-repeat="zm in zmienna">
            <li>{{zm.id}}</li>
        </ul>

        {{zmienna}}
        

    </div>

</div>*@


<div data-ng-app="AngularExample">
    <div data-ng-view>
        Loading...
    </div>
</div>

<script type="text/javascript" charset="utf-8">

    angular.module('AngularExample', ['ngRoute']).config(['$routeProvider',
        function ($routeProvider) {
            $routeProvider
                .when('/', {
                    templateUrl: 'example.html',
                    controller: 'exampleController'
                }, null)
                .when('/list', {
                    templateUrl: 'list.html',
                    controller: 'exampleController'
                }, null);
        }]);

    angular.module('AngularExample').controller('exampleController', function ($scope) {
        $scope.message = 'Hello world!';
        $scope.list = [
            {
                firstName: 'John',
                lastName: 'Doe'
            },
            {
                firstName: 'Mark',
                lastName: 'Smith'
            },
            {
                firstName: 'James',
                lastName: 'Mole'
            }
        ];
    });

</script>